@charset "UTF-8";
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic&subset=latin,latin-ext");
@import url("http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic");
body {
  font: 300 1.42rem / 1.5 "Noto Sans", sans-serif;
  width: 60%;
  margin: auto;
  color: #222;
  padding: 0 0 40px 0;
}

dl dt {
  margin-top: 20px;
  font-weight: 700;
}
dl dd {
  font-size: 1.3rem;
  margin-bottom: 20px;
  margin-left: 40px;
}

q:before {
  content: "“";
}

q:after {
  content: "”";
}

ol {
  list-style-type: decimal;
}
ol li {
  margin: 12px 0;
}

ol ul {
  margin: 16px 0 16px 18px;
}

code, tt, kbd, pre {
  font: 1.45rem / 1.5 "Ubuntu Mono", monospace;
}

code, tt, kbd {
  border: 1px solid #eee;
  border-radius: 5px;
  color: #444;
  padding: 5px;
}

strong, b {
  font-weight: 700;
}

p {
  padding: .7rem 0;
}

h1 {
  margin: 0;
  padding: 48px 0;
  text-align: center;
  font-size: 2.2rem;
}

#generated-file, #more-info-about-site {
  font-size: 1.1rem;
}
#generated-file code, #generated-file kbd, #more-info-about-site code, #more-info-about-site kbd {
  font-size: 1.1rem;
}
#generated-file code, #more-info-about-site code {
  border: 0;
  padding: 0;
}
#generated-file h2, #more-info-about-site h2 {
  border: none;
  padding: 0;
}
#generated-file pre, #more-info-about-site pre {
  margin: 48px 0;
  font-size: 1rem;
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 5px;
}
#generated-file ul li, #more-info-about-site ul li {
  list-style-type: disc;
  margin: 22px 0;
}
#generated-file ul li ul, #more-info-about-site ul li ul {
  margin-left: 40px;
}
#generated-file ul li ul li, #more-info-about-site ul li ul li {
  list-style-type: circle;
  margin: 14px 0;
}
#generated-file ul li ol, #more-info-about-site ul li ol {
  margin-left: 48px;
}
#generated-file ul li ol li, #more-info-about-site ul li ol li {
  list-style-type: decimal;
  margin: 14px 0;
}

section {
  margin: 0 0 24px 0;
  clear: both;
}
section > h2 + div {
  margin: 0;
  padding-right: 12px;
  border-right: 1px solid #d4d4d4;
  transition: 1s;
}
section > h2 + div > p:first-of-type {
  margin: 0;
  padding: 24px 0 8px;
}
section > h2 + div > p:first-of-type code {
  font-size: 1.3rem;
}
section > h2 + div p {
  margin: 0;
}

header h1 {
  position: relative;
  background-color: white;
  height: 100%;
  z-index: 1;
}
header nav {
  opacity: 0;
  transition: 350ms;
}
header nav:hover {
  opacity: 1;
}

nav {
  font-size: .95rem;
  position: fixed;
  right: 79%;
  top: 154px;
  height: 100%;
  overflow-y: hidden;
  z-index: 0;
}
nav ul {
  text-align: right;
  padding-right: 24px;
  height: 60%;
  overflow-y: auto;
}
nav ul li {
  margin: 12px 0;
}
nav ul li a {
  padding: 2px;
  background-color: #fff8ed;
}

table, td {
  border: 1px solid #82ceff;
}

th {
  border: 1px solid #d7d7d7;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 1rem;
  margin: 0 auto;
}
table code {
  font-size: 1rem;
  border: 0;
  padding: 0;
}
table thead {
  background-color: #f3f3f3;
}
table tr td, table tr th {
  padding: 14px;
}
table tbody tr:nth-child(even) {
  background-color: #f7fcff;
}

sup {
  font-size: 1.1rem;
  bottom: 0;
  line-height: 1;
  position: relative;
  vertical-align: super;
}

abbr {
  border-bottom: 1px dotted #222;
}

h2 {
  font-size: 1.9rem;
  border-bottom: 1px solid #d4d4d4;
  border-left: 1px solid #d4d4d4;
  margin: 0;
  padding: 0 0 0 12px;
}
h2 + div > p:first-of-type > code {
  background-color: #f5fff5;
}

[class$="fa-info"] {
  border: 1px solid #ff8080;
  font-size: 1.5rem;
  width: 34px;
  height: 34px;
  margin: 14px 4px 0 0;
  text-align: center;
  line-height: 34px;
  padding: 4px;
  border-radius: 50%;
  color: #ff8080;
}

#introduction div:last-of-type {
  text-align: center;
}
#introduction div:last-of-type button {
  margin: 20px 0 24px 0;
  border: 0;
  padding: 20px;
  background-color: #ceecff;
  color: #444;
  font-size: 1.5rem;
}

#font_face > h2 + div input[type="text"] {
  width: 200px;
}

input, button {
  font: 300 1.25rem / 1 "Noto Sans", sans-serif;
  border: 1px solid #ddd;
}

input {
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 440px;
  line-height: 24px;
  padding: 2px;
  text-align: center;
}

select, option {
  font: 300 1.2rem / 1 "Noto Sans", sans-serif;
}

select {
  border: 1px solid #ddd;
}

aside {
  line-height: 36px;
  text-align: center;
  background-color: #f8f8f8;
  top: 0;
  right: 0;
  position: fixed;
  width: 200px;
  padding: 0 30px;
  height: 36px;
  -webkit-transform: translateX(108px) translateY(-35px) rotate(45deg);
  -moz-transform: translateX(108px) translateY(-35px) rotate(45deg);
  -ms-transform: translateX(108px) translateY(-35px) rotate(45deg);
  -o-transform: translateX(108px) translateY(-35px) rotate(45deg);
  transform: translateX(108px) translateY(-35px) rotate(45deg);
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
}
aside a {
  color: #004f82;
  font-size: 1.1rem;
}
aside img {
  line-height: 100%;
}

input[type="submit"] {
  padding: 20px;
  margin: 0 auto;
  background-color: #9bd8ff;
  color: #444;
}

blockquote {
  font-size: 1.3rem;
  font-style: italic;
  margin: 38px 38px 24px;
  padding: 0;
}

form {
  position: relative;
  background-color: white;
  z-index: 10;
}
form > div:last-of-type {
  text-align: center;
  margin: 40px 0;
}

#introduction {
  opacity: 1;
  transition: all 1s;
  visibility: visible;
  position: relative;
  z-index: 1;
  background-color: white;
}
#introduction.hide {
  opacity: 0;
  height: 0;
  visibility: hidden;
}

input[id="color_scheme_option"] {
  width: 324px;
}

input[id="font_size_option"] {
  width: 68px;
}

input[id="margin_option"],
input[id="tab_size_option"],
input[id="wrap_width_option"] {
  width: 32px;
}

input[type="text"] {
  -webkit-box-shadow: 5px 5px 5px #888;
  -moz-box-shadow: 5px 5px 5px #888;
  box-shadow: 5px 5px 5px #888;
  transition: 500ms;
}

input[type="text"]:focus {
  -webkit-box-shadow: 10px 10px 5px #aaa;
  -moz-box-shadow: 10px 10px 5px #aaa;
  box-shadow: 10px 10px 5px #aaa;
}

a {
  color: #0071ba;
  text-decoration: none;
}

.highlight {
  background-color: #ffff66;
  border-radius: 5px;
  padding: 2px;
}

.pending {
  background-color: snow;
  border-radius: 5px;
  padding: 4px;
}

.error {
  color: red;
  background-color: yellow;
}

@media screen and (max-width: 1920px), screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1920px), screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1920px), screen and (-moz-min-device-pixel-ratio: 2) and (max-width: 1920px), screen and (-o-min-device-pixel-ratio: 2 / 1) and (max-width: 1920px), screen and (-min-device-pixel-ratio: 2) and (max-width: 1920px), screen and (min-resolution: 192dpi) and (max-width: 1920px), screen and (min-resolution: 2dppx) and (max-width: 1920px) {
  body {
    width: 40%;
  }

  nav {
    right: 68.5%;
  }
  nav ul {
    padding-right: 38px;
  }
}
@media screen and (max-width: 1850px), screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1850px), screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1850px), screen and (-moz-min-device-pixel-ratio: 2) and (max-width: 1850px), screen and (-o-min-device-pixel-ratio: 2 / 1) and (max-width: 1850px), screen and (-min-device-pixel-ratio: 2) and (max-width: 1850px), screen and (min-resolution: 192dpi) and (max-width: 1850px), screen and (min-resolution: 2dppx) and (max-width: 1850px) {
  body {
    width: 50%;
  }

  nav {
    right: 73%;
  }
}
@media screen and (max-width: 1480px), screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1480px), screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1480px), screen and (-moz-min-device-pixel-ratio: 2) and (max-width: 1480px), screen and (-o-min-device-pixel-ratio: 2 / 1) and (max-width: 1480px), screen and (-min-device-pixel-ratio: 2) and (max-width: 1480px), screen and (min-resolution: 192dpi) and (max-width: 1480px), screen and (min-resolution: 2dppx) and (max-width: 1480px) {
  body {
    width: 54%;
  }

  nav {
    right: 75%;
  }
}
@media screen and (max-width: 1380px), screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1380px), screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1380px), screen and (-moz-min-device-pixel-ratio: 2) and (max-width: 1380px), screen and (-o-min-device-pixel-ratio: 2 / 1) and (max-width: 1380px), screen and (-min-device-pixel-ratio: 2) and (max-width: 1380px), screen and (min-resolution: 192dpi) and (max-width: 1380px), screen and (min-resolution: 2dppx) and (max-width: 1380px) {
  body {
    width: 58%;
  }

  nav {
    right: 76.5%;
  }
}
@media screen and (max-width: 1280px), screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1280px), screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1280px), screen and (-moz-min-device-pixel-ratio: 2) and (max-width: 1280px), screen and (-o-min-device-pixel-ratio: 2 / 1) and (max-width: 1280px), screen and (-min-device-pixel-ratio: 2) and (max-width: 1280px), screen and (min-resolution: 192dpi) and (max-width: 1280px), screen and (min-resolution: 2dppx) and (max-width: 1280px) {
  body {
    width: 62%;
  }

  nav {
    right: 78%;
  }
  nav ul {
    padding-right: 40px;
  }
}
@media screen and (max-width: 1200px), screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1200px), screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1200px), screen and (-moz-min-device-pixel-ratio: 2) and (max-width: 1200px), screen and (-o-min-device-pixel-ratio: 2 / 1) and (max-width: 1200px), screen and (-min-device-pixel-ratio: 2) and (max-width: 1200px), screen and (min-resolution: 192dpi) and (max-width: 1200px), screen and (min-resolution: 2dppx) and (max-width: 1200px) {
  body {
    width: 66%;
  }

  nav {
    right: 80%;
  }
  nav ul {
    padding-right: 50px;
  }
}
@media screen and (max-width: 1130px), screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1130px), screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1130px), screen and (-moz-min-device-pixel-ratio: 2) and (max-width: 1130px), screen and (-o-min-device-pixel-ratio: 2 / 1) and (max-width: 1130px), screen and (-min-device-pixel-ratio: 2) and (max-width: 1130px), screen and (min-resolution: 192dpi) and (max-width: 1130px), screen and (min-resolution: 2dppx) and (max-width: 1130px) {
  body {
    width: 70%;
  }

  nav {
    font-size: .8rem;
    right: 82%;
  }

  select {
    font-size: .9rem;
  }
}
@media screen and (max-width: 1068px), screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1068px), screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1068px), screen and (-moz-min-device-pixel-ratio: 2) and (max-width: 1068px), screen and (-o-min-device-pixel-ratio: 2 / 1) and (max-width: 1068px), screen and (-min-device-pixel-ratio: 2) and (max-width: 1068px), screen and (min-resolution: 192dpi) and (max-width: 1068px), screen and (min-resolution: 2dppx) and (max-width: 1068px) {
  body {
    width: 74%;
  }

  nav {
    right: 84%;
  }
}
@media screen and (max-width: 1024px), screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), screen and (-moz-min-device-pixel-ratio: 2) and (max-width: 1024px), screen and (-o-min-device-pixel-ratio: 2 / 1) and (max-width: 1024px), screen and (-min-device-pixel-ratio: 2) and (max-width: 1024px), screen and (min-resolution: 192dpi) and (max-width: 1024px), screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  body {
    width: 70%;
  }

  aside {
    background-color: white;
    right: auto;
    left: 0;
    position: fixed;
    width: 100%;
    padding: 10px 0 0;
    margin: 0 0 20px;
    z-index: 3;
    -webkit-transform: translateX(0) translateY(0) rotate(0);
    -moz-transform: translateX(0) translateY(0) rotate(0);
    -ms-transform: translateX(0) translateY(0) rotate(0);
    -o-transform: translateX(0) translateY(0) rotate(0);
    transform: translateX(0) translateY(0) rotate(0);
  }

  nav {
    font-size: .8rem;
    right: 82%;
  }
}
@media screen and (max-width: 800px), screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 800px), screen and (min--moz-device-pixel-ratio: 2) and (max-width: 800px), screen and (-moz-min-device-pixel-ratio: 2) and (max-width: 800px), screen and (-o-min-device-pixel-ratio: 2 / 1) and (max-width: 800px), screen and (-min-device-pixel-ratio: 2) and (max-width: 800px), screen and (min-resolution: 192dpi) and (max-width: 800px), screen and (min-resolution: 2dppx) and (max-width: 800px) {
  select {
    font-size: .8rem;
  }
}
