@mixin border-radius( $radius ) {
   -webkit-border-radius: $radius;
      -moz-border-radius: $radius;
       -ms-border-radius: $radius;
        -o-border-radius: $radius;
           border-radius: $radius;
}

@mixin transition( $property, $duration, $timing_function, $delay ) {
   -webkit-transition: $property $duration $timing_function $delay;
      -moz-transition: $property $duration $timing_function $delay;
        -o-transition: $property $duration $timing_function $delay;
           transition: $property $duration $timing_function $delay;
}

@mixin box-shadow( $horizontal, $vertical, $blur_radius, $spread_radius, $color ) {
   -webkit-box-shadow: $horizontal $vertical $blur_radius $spread_radius $color;
      -moz-box-shadow: $horizontal $vertical $blur_radius $spread_radius $color;
       -ms-box-shadow: $horizontal $vertical $blur_radius $spread_radius $color;
        -o-box-shadow: $horizontal $vertical $blur_radius $spread_radius $color;
           box-shadow: $horizontal $vertical $blur_radius $spread_radius $color;
}

@mixin transform( $x, $y, $rotation ) {
   -webkit-transform: translateX($x) translateY($y) rotate($rotation);
      -moz-transform: translateX($x) translateY($y) rotate($rotation);
       -ms-transform: translateX($x) translateY($y) rotate($rotation);
        -o-transform: translateX($x) translateY($y) rotate($rotation);
           transform: translateX($x) translateY($y) rotate($rotation);
}

@mixin transform-origin( $x, $y ) {
   -webkit-transform-origin: $x $y;
      -moz-transform-origin: $x $y;
       -ms-transform-origin: $x $y;
        -o-transform-origin: $x $y;
           transform-origin: $x $y;
}

@mixin max-width-responsive-media-query($screen-width) {
   @media screen and (max-width: $screen-width),
   screen and (-webkit-min-device-pixel-ratio: 2)   and (max-width: $screen-width),
   screen and (   min--moz-device-pixel-ratio: 2)   and (max-width: $screen-width),
   screen and (   -moz-min-device-pixel-ratio: 2)   and (max-width: $screen-width),
   screen and (     -o-min-device-pixel-ratio: 2/1) and (max-width: $screen-width),
   screen and (       -min-device-pixel-ratio: 2)   and (max-width: $screen-width),
   screen and (       min-resolution: 192dpi)       and (max-width: $screen-width),
   screen and (       min-resolution: 2dppx)        and (max-width: $screen-width) {
      @content;
   }
}
