$color-important-note: red;
$color-links: rgb(0,79,130);
$color-main: #222;
$color-border: lighten($color-main,70%);
$background-color-for-input-and-choice: lighten(green,73%);

// ----------------------------------------------------------------------------------
// Breakpoints
// ----------------------------------------------------------------------------------

// TODO: These are temporary while the nav is re-imagined

$xxxx-large : 1920px;
$xxx-large  : 1850px;
$xx-large   : 1480px;
$x-large    : 1380px;
$large      : 1280px;
$medium     : 1200px;
$small      : 1130px;
$x-small    : 1068px;
$xx-small   : 1024px;
$xxx-small  :  800px;
