@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic&subset=latin,latin-ext");
@import url("http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic");
@import '01_reset';
@import '02_utilities/index';
@import 'layout/index';

body {
   font: 300 1.1rem / 1.5 "Noto Sans", sans-serif;
   width: 60%;
   margin: auto;
   color: $color-main;
   padding: 0 0 40px;
}

q:before {
   content: "“";
}

q:after {
   content: "”";
}

code, tt, kbd, pre {
   font: 1.2rem / 1.2 "Ubuntu Mono", monospace;
}

code, tt, kbd {
   border: 1px solid #eee;
   border-radius: 5px;
   color: #444;
   padding: 5px;
}

strong, b {
   font-weight: 700;
}

p {
   padding: .7rem 0;
}

h1 {
   margin: 0;
   padding: 48px 0;
   text-align: center;
   font-size: 2.2rem;
}

#generated-file, #more-info-about-site, #installing-a-sublime-text-dictionary {
   font-size: 1.1rem;

   code, kbd {
       font-size: 1.1rem;
   }

   code {
      border: 0;
      padding: 0;
   }
   h2 {
      border: none;
      padding: 0;
   }
   pre {
      margin: 48px 0;
      font-size: 1rem;
      border: 1px solid #ddd;
      padding: 5px;
      border-radius: 5px;
   }
   ul {
      li {
         list-style-type: disc;
         margin: 22px 0;

         ul {
            margin-left: 40px;

            li {
               list-style-type: circle;
               margin: 14px 0;
            }
         }

         ol {
            margin-left: 48px;

            li {
               list-style-type: decimal;
               margin: 14px 0;
            }
         }
      }
   }
}

#installing-a-sublime-text-dictionary footer {
   border-top: 1px solid #ccc;
}

sup {
   font-size: 1.1rem;
   bottom: 0;
   line-height: 1;
   position: relative;
   vertical-align: super;
}

abbr {
   border-bottom: 1px dotted $color-main;
}

h2 {
   font-size: 1.9rem;
   border: {
      top: 1px solid $color-border;
      bottom: 1px solid $color-border;
      left: 1px solid $color-border;
   }
   margin: 0;
   padding: 0 0 0 12px;

   &+div {
      >p:first-of-type {
         >code {
            background-color: lighten(green,73%);
         }
      }
   }
}

[class$="fa-info"] {
   border: 1px solid lighten($color-important-note, 25%);
   font-size: 1.5rem;
   width: 34px;
   height: 34px;
   margin: 14px 4px 0 0;
   text-align: center;
   line-height: 34px;
   padding: 4px;
   border-radius: 50%;
   color: lighten($color-important-note, 25%);
}

#introduction {
   div:last-of-type {
      text-align: center;

      button {
         margin: 20px 0 24px;
         border: 0;
         padding: 20px;
         background-color: lighten($color-links, 65%);
         color: #444;
         font-size: 1.5rem;
      }
   }
}

#font_face>h2+div {
   input[type="text"] {
      width: 200px;
   }
}

input, button {
   font: 300 1.25rem / 1 "Noto Sans", sans-serif;
   border: 1px solid #ddd;
}

// The Bitbucket banner in the upper right hand corner
aside {
   line-height: 36px;
   text-align: center;
   background-color: rgb(248,248,248);
   top: 0;
   right: 0;
   position: fixed;
   width: 200px;
   padding: 0 30px;
   height: 36px;
   @include transform( 108px, -35px, 45deg );
   @include transform-origin( top, left );

   a {
      color: $color-links;
      font-size: 1.1rem;
   }

   img {
      line-height: 100%;
   }
}

blockquote {
   font-size: 1.3rem;
   font-style: italic;
   margin: 38px 38px 24px;
   padding: 0;
}

#introduction {
   opacity: 1;
   transition: all 1s;
   visibility: visible;
   position: relative;
   z-index: 1;
   background-color: white;

   &.hide {
      opacity: 0;
      height: 0;
      visibility: hidden;
   }
}

a {
   color: lighten($color-links, 11%);
   text-decoration: none;
}

.highlight {
   background-color: lighten(yellow, 20%);
   border-radius: 5px;
   padding: 2px;
}

.pending {
   background-color: lighten(red, 49%);
   border-radius: 5px;
   padding: 4px;
}

.error {
   color: red;
   background-color: yellow;
}

@include max-width-responsive-media-query($xxxx-large) {
   body {
      width: 40%;
   }
   nav {
      right: 68.5%;
      ul {
         padding-right: 38px;
      }
   }
}

@include max-width-responsive-media-query($xxx-large) {
   body {
      width: 50%;
   }
   nav {
      right: 73%;
   }
}

@include max-width-responsive-media-query($xx-large) {
   body {
      width: 54%;
   }
   nav {
      right: 75%;
   }
}

@include max-width-responsive-media-query($x-large) {
   body {
      width: 58%;
   }
   nav {
      right: 76.5%;
   }
}

@include max-width-responsive-media-query($large) {
   body {
      width: 62%;
   }
   nav {
      right: 78%;
      ul {
         padding-right: 40px;
      }
   }
}

@include max-width-responsive-media-query($medium) {
   body {
      width: 66%;
   }
   nav {
      right: 80%;
      ul {
         padding-right: 50px;
      }
   }
}

@include max-width-responsive-media-query($small) {
   body {
      width: 70%;
   }
   nav {
      font-size: .8rem;
      right: 82%;
   }
   select {
      font-size: .9rem;
   }
}

@include max-width-responsive-media-query($x-small) {
   body {
      width: 74%;
   }
   nav {
      right: 84%;
   }
}

@include max-width-responsive-media-query($xx-small) {
   body {
      width: 70%;
   }

   aside {
      background-color: white;
      right: auto;
      left: 0;
      position: fixed;
      width: 100%;
      padding: 10px 0 0;
      margin: 0 0 20px;
      z-index: 3;
      @include transform(0, 0, 0);
   }

   nav {
      font-size: .8rem;
      right: 82%;
   }
}

@include max-width-responsive-media-query($xxx-small) {
   select {
      font-size: .8rem;
   }
}
