header {
   h1 {
      position: relative;
      background-color: white;
      height: 100%;
      z-index: 1;
   }
   nav {
      opacity: 0;
      transition: 350ms;
      &:hover {
         opacity: 1;
      }
   }
}
